@import '../../style/mixins.scss';


.content-article {
  width: 640px;
  background-color: white;
  padding-bottom: 20px;

  @include mobile-only {
    width: 100%;
  }
}

.content-text {
  margin-top: 20px;
  padding: 0 20px;
}