@import '../../style/mixins.scss';


.search {
  width: 250px;
  position: relative;
  right: 0;
  align-self: center;
  margin-bottom: 25px;
}

.news-container {
  margin-bottom: 20px;
  width: 640px;
}