@import '../../style/mixins.scss';

.search {
	width: 250px;
	position: relative;
	right: 0;
	align-self: center;
	margin-bottom: 25px;
	display: flex;
	align-items: center;

	button {
		width: 60px;
	}

	.cross {
		width: 13px;
		height: 11px;
		position: relative;
		right: 15px;
		z-index: 10;
		cursor: pointer;

		&_hidden {
			visibility: hidden;
		}
	}

	button {
		margin-left: 10px;
	}

	img {
		width: 20px;
		height: 20px;
	}

	input {
		padding-right: 17px;
	}
}

.news-container {
	margin-bottom: 20px;
	width: 640px;
	cursor: pointer;

	@include mobile-only {
		width: 100%;
	}
}