@mixin input {
  border: none;
	border-bottom: 1px solid lightgray;
	padding: 5px 5px;
	width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  background: transparent;
}

@mixin mobile-only {
  @media (max-width: 768px) {
    @content;
  }
}