.news {
	background: white;
	padding-top: 10px;
	padding-bottom: 10px;

}

.text {
  padding: 0 20px;
  margin-bottom: 20px;
}

.author-time {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.author {
	margin-right: 20px;
}

.time {
	color: gray;
	font-size: 14px;
}

.image {
	height: 300px;
	width: 100%;
  background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
